.jewelry_rings {

}

.jewelry_necklaces {

}

.jewelry_bracelets {

}

.jewelry_lists {
	/*background-color: #5C755E;*/
	display: block;
	background-color: #F7DCB4;
	padding: 2px;
}

.jewelry_app_description {

}

